@import "vars";
@import "fonts";
@import "media";



*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    
  }
}

.contact{
  background-color: #303030;
}
.contact-inner{
  display: flex;
  justify-content: space-between;
}
.contact-inner__data{
  display: flex;
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding-top: 16px;
}
.contact-inner__data__phone{
  margin-right: 30px;
}
.contact-inner__data__phone span,
.contact-inner__data__mail span{
  margin-right: 9px;
  color: #ffcd21;
}
.contact-inner__data__mail{
  color: #fff;
}

.contact-inner__button a{
  display: inline-block;
  background-color: #ffcd21;
  padding: 15px 20px;
  color: #000;
  font-size: 16px;
  position: relative;
  span{
    margin-right: 10px;
  }
}

.header-menu{
  padding: 35px 0;
}
.header-inner__menu{
  display: flex;
  justify-content: space-between;
}
.menu{
  align-self: center;
}
.menu ul{
  display: flex;
}

.menu li a{
  padding: 10px 20px;
  color: #000;
  font-family: $roboto;
  font-size: 16px;
  font-weight: 400;
}
.menu li a:focus{
  border: 1px solid #ffcd21;
  margin: -1px;
}

.icon-bars{
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.slider-item-1, .slider-item-2{
  padding-top: 130px;
  padding-bottom: 185px;
  color: #fff;
  text-align: center;
}

.slider-item-1{
  background-image: url("../img/header-bgd.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-item-2{
  background-image: url("../img/header-bgd-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-item__title{
  font-family: $roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 25px;
}
.slide-item__text{
  font-family: $serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 18px;
}

.slide-item__btn{
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #ffcd21;
  border-right: 20px solid #ffcd21;
  position: relative;
  font-family: $roboto;
  font-weight: 500;
  color: #fff;
}
.slide-item__btn::after{
  content: "\f105";
  position: absolute;
  right: -13px;
  font-family: $icon;
  color: #fff;
}
.slick-btn{
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}
.slick-prev{
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 5;
}
.slick-next{
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 5;
}
.slick-prev::after{
  content: "\f104";
  font-family: $icon;
  color: #fff;
}
.slick-next::after{
  content: "\f105";
  font-family: $icon;
  color: #fff;
}
.slick-prev:focus, .slick-next:focus{
  background-color: #ffcd21;
}
.services{
  padding-top: 60px;
  padding-bottom: 45px;
}
.services__head{
  margin-bottom: 90px;
}
.services__inner-line-text, .form__inner-line-text{
  display: flex;
}
.services__line span, .form__line span{
  display: block;
  height: 2px;
  width: 105px;
  margin-top: 8px;
  background-color: #ffcd21;
  margin-right: 25px;
}
.services__title, .form__title{
  font-size: 24px;
  font-family: $roboto;
  font-weight: 500;
  margin-bottom: 20px;
}
.services__text, .form__text{
  font-size: 14px;
  font-family: $serif;
  color: #5e5e5e;
  line-height: 18px;
}
.services__head-btn{
  text-align: right;
  padding-top: 40px;
  a{
    display: inline-block;
    padding: 15px 40px;
    border: 3px solid #e6e6e6;
    font-weight: 400;
    font-size: 14px;
    font-family: $roboto;
    color: #000;
  }
}
.services__inner-box{
  padding: 30px 20px 40px;
  box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 30px;
}
.services__icon{
  font-size: 50px;
  color: #ffcd21;
  margin-bottom: 25px;
  display: inline-block;
}
.services__prev-title{
  font-size: 18px;
  font-weight: 500;
  font-family: $roboto;
  height: 50px;
}
.services__prev-text{
  font-family: $serif;
  color: #303030;
  line-height: 18px;
  height: 135px;
}
.services__inner__btn-more{
  display: flex;
  justify-content: space-between;
}
.services__btn-more{
  text-decoration: underline;
  font-family: $roboto;
  font-size: 14px;
  align-self: center;
  color: #000;
}
.services__btn{
  // display: inline-block;
  padding: 15px 20px;
  border: 1px solid #ffcd21;
  border-right: 20px solid #ffcd21;
  position: relative;
  font-family: $roboto;
  font-weight: 500;
  color: #000;
}
.services__btn::after{
  content: "\f105";
  position: absolute;
  right: -13px;
  font-family: $icon;
  color: #fff;
}

.about{
  background-image: url("../img/about-bgd.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0 45px;
  color: #fff;
}
.about__title{
  font-size: 24px;
  font-family: $roboto;
  font-weight: 500;
  margin-bottom: 35px;
}
.about__text{
  font-family: $serif;
  font-weight: 400;
  margin-bottom: 35px;
  line-height: 24px;
}
.about__btn{
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #ffcd21;
  border-right: 20px solid #ffcd21;
  position: relative;
  font-family: $roboto;
  font-weight: 500;
  color: #fff;
}
.about__btn::after{
  content: "\f105";
  position: absolute;
  right: -13px;
  font-family: $icon;
  color: #000;
}
.form{
  padding: 45px 0;
}
.form__inner-line-text{
  margin-bottom: 40px;
}
form{
  position: relative;
}
form label{
  font-family: $roboto;
  line-height: 38px;
  font-size: 15px;
  font-weight: 400;
}
form input, select{
  width: 100%;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 0;
}
form textarea{
  width: 100%;
  height: 195px;
  padding: 10px 10px;
  resize: none;
  margin-bottom: 33px;
}
.form__inner-btn{
  text-align: right;
}
.form__inner-btn input{
  display: inline-block;
  height: 40px;
  width: 210px;
  font-size: 14px;
  border: 1px solid #ffcd21;
  border-right: 20px solid #ffcd21;
  font-family: $roboto;
  font-weight: 500;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.form__img{
  position: absolute;
  right: 0;
  bottom: -45px;
}
.items{
  padding: 50px 0;
  background-image: url('../img/items-bgd.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.items__icon{
  width: 40px;
  height: 40px;
  border: 1px solid #ffcd21;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
}
.items__icon::after{
  content: "\f00c";
  position: absolute;
  font-family: $icon;
  top: 30%;
  left: 30%;
}

.items__title{
  font-family: $roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}
.item__text{
  font-family: $serif;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 20px;
}